/*
!.gitignore
!/app
/app/*
!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Vuleticd_Assist.xml
!/app/locale
/app/locale/*
!/app/locale/en_US
/app/locale/en_US/*
!/app/locale/en_US/Vuleticd_Assist.csv
!/app/locale/ru_RU
/app/locale/ru_RU/*
!/app/locale/ru_RU/Vuleticd_Assist.csv
!/app/code
/app/code/*
!/app/code/community
/app/code/community/*
!/app/code/community/Vuleticd
/app/code/community/Vuleticd/*
!/app/code/community/Vuleticd/Assist
!/app/design
/app/design/*
!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/base
/app/design/frontend/base/*
!/app/design/frontend/base/default
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/assist
!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/assist
!/app/design/adminhtml
/app/design/adminhtml/*
!/app/design/adminhtml/default
/app/design/adminhtml/default/*
!/app/design/adminhtml/default/default
/app/design/adminhtml/default/default/*
!/app/design/adminhtml/default/default/template
/app/design/adminhtml/default/default/template/*
!/app/design/adminhtml/default/default/template/assist